<aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar-->
        <section class="sidebar">
            <div id="menu" role="navigation">
                <div class="nav_profile">
                    <div class="media profile-left">
                        <a class="pull-left profile-thumb" href="#">
                            <img src="img/authors/<%- user.profile -%>" class="img-circle" alt="User Image"></a>
                        <div class="content-profile">
                            <h4 class="media-heading"><%- user.user_name %></h4>
                            <ul class="icon-list">
                                <li>
                                    <a href="/profile">
                                        <i class="fa fa-fw fa-user"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-fw fa-lock"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/editProfile">
                                        <i class="fa fa-fw fa-gear"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout">
                                        <i class="fa fa-fw fa-sign-out"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="navigation">
                    <!-- <li class="active" id="active">
                        <a href="myhome">
                            <i class="menu-icon fa fa-fw fa-home"></i>
                            <span class="mm-text ">Dashboard</span>
                        </a>
                    </li> -->
                    <li >
                        <a href="mywallet">
                            <i class="menu-icon fa fa-fw fa-money"></i>
                            <span class="mm-text ">My Wallet</span>
                        </a>
                    </li>
                    <li >
                        <a href="buyEther">
                            <i class="menu-icon fa fa-fw fa-shopping-cart"></i>
                            <span class="mm-text ">Buy Ethers</span>
                        </a>
                    </li>
                    <li >
                        <a href="transferEther">
                            <i class="menu-icon fa fa-fw fa-exchange"></i>
                            <span class="mm-text ">Transfer Ethers</span>
                        </a>
                    </li>
                    <!-- <li class="menu-dropdown">
                        <a href="#">
                            <i class="menu-icon fa fa-fw  fa-briefcase" aria-hidden="true"></i>
                            <span class="mm-text ">Upcoming Features</span>
                        </a>
                        <ul class="sub-menu collapse in" aria-expanded="true">
                            <li>
                                <a href="#" title="You will be able to transfer Ether from DLT wallet to any other account">
                                    <i class="menu-icon fa fa-fw fa-fire"></i>
                                    <span class="mm-text ">Withdraw Ether</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Decrypt your encrypted private key">
                                    <i class="menu-icon fa fa-fw fa-fire"></i>
                                    <span class="mm-text ">Export Private key</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="You will be able to buy token via your fiat currency">
                                    <i class="menu-icon fa fa-fw fa-fire"></i>
                                    <span class="mm-text ">Buy Token Using USD</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="You will be able to buy token via BitCoin">
                                    <i class="menu-icon fa fa-fw fa-fire"></i>
                                    <span class="mm-text ">Buy Token Using BitCoin</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="You will be able to authorize user to spend token on your behalf">
                                    <i class="menu-icon fa fa-fw fa-fire"></i>
                                    <span class="mm-text ">Setup Authorize User</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="ou will be able to transfer token automatically on regular interval">
                                    <i class="menu-icon fa fa-fw fa-fire"></i>
                                    <span class="mm-text ">Setup Recurring Transfers</span>
                                </a>
                            </li>
                        </ul>
                    </li> -->
                    
                </ul>
                <!-- / .navigation --> </div>
            <!-- menu --> </section>
        <!-- /.sidebar --> </aside>