<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Authrize Users | DLT COIN </title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <%- include('config/favicon') %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- global css -->
    <link type="text/css" href="css/app.css" rel="stylesheet"/>
    <!-- end of global css -->
    <!--page level css -->
    <link rel="stylesheet" type="text/css" href="vendors/datatables/css/dataTables.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <link rel="stylesheet" type="text/css" href="css/custom_css/datatables_custom.css">
    <!--end of page level css-->
</head>

<body class="skin-coreplus">
<%- include('config/preloader') %>

<!-- header logo: style can be found in header-->
<%- include('config/navbar') %>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <%- include('config/leftbar') %>
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Authorize
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="myhome">
                        <i class="fa fa-fw fa-home"></i> Dashboard
                    </a>
                </li>
                <li class="active">
                    Authorize Person
                </li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Tokens:</label>
                            <input type="text" class="form-control" name="tokens" placeholder="Tokens">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Address:</label>
                            <input type="text" class="form-control" name="address" placeholder="Address">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-info pull-right form-control"> Authorize  &nbsp;&nbsp;&nbsp;<i class="fa fa-key" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-md-1"></div>
                    <!-- <div class="col-md-2"  style="border-left: solid 2px #1baa7d; border-right: solid 2px #1baa7d; ">
                        <div class="form-group">
                            <label>Transfered Token</label>
                            <label class="btn-primary form-control"> &nbsp;&nbsp;<i class="fa fa-text-width" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;200</label>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <hr>
        <section class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-fw fa-table"></i> Authorization Hisory
                            </h3>
                            <span class="pull-right">
                                    <i class="fa fa-fw fa-chevron-up clickable"></i>
                                    <i class="fa fa-fw fa-times removepanel clickable"></i>
                                </span>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="sample_1">
                                    <thead>
                                    <tr>
                                        <th>
                                            Authorized Person
                                        </th>
                                        <th>
                                            Tokens
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Edison Sauer</td>
                                        <td>20</td>
                                        <td><span class="label label-sm label-danger">Cancelled</span></td>
                                        <td>08-05-2017</td>
                                    </tr>
                                    <tr>
                                        <td>Guadalupe Legros</td>
                                        <td>26</td>
                                        <td><span class="label label-sm label-success">Complete</span></td>
                                        <td>08-05-2017</td>
                                    <tr>
                                        <td>Gaston Mraz</td>
                                        <td>80</td>
                                        <td><span class="label label-sm label-warning">Pending</span></td>
                                        <td>08-05-2017</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- First Basic Table Ends Here-->
        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->
<!-- global js -->
<script src="js/app.js" type="text/javascript"></script>
<!-- end of global js -->
<!-- begining of page level js -->
<script type="text/javascript" src="vendors/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="vendors/datatables/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="js/custom_js/datatables_custom.js"></script>
<!-- end of page level js -->
</body>
</html>