<!DOCTYPE html>
<html>
<head>
    <title>Truffle Account | DLT COINS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <!-- global css -->
    <link href="css/app.css" rel="stylesheet">
    <!-- end of global css -->
    <!--page level css -->
    <link rel="stylesheet" href="vendors/iCheck/css/all.css"/>
    <link rel="stylesheet" href="vendors/bootstrap-datepicker/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="vendors/select2/css/select2.min.css"/>
    <link rel="stylesheet" href="vendors/select2/css/select2-bootstrap.css"/>
    <link href="vendors/toastr/css/toastr.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link href="css/login.css" rel="stylesheet">
    <!--end of page level css-->
</head>

<body style="padding-bottom: 18%">
<%- include('config/preloader') %>

<div class="container">
    <div class="row " id="form-login">
        <div class="col-sm-12">
            <div class="panel-header">
                <h2 class="text-center text-primary">
                    Create Wallet
                </h2>
            </div>
            <div class="panel-body social">
                 <section class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-content m-t-10">
                        <div id="tab1" class="tab-pane fade active in">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="col-md-3"></div>
                                    <div class="col-lg-6">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">
                                                    <i class="fa fa-fw fa-lock"></i> Setup Secure DLT Labs ICO Wallet
                                                </h3>
                                            </div>
                                            <div class="panel-body">
                                                <form action="" id="create_truffle" method="POST" class="right_aligned">
                                                    <div class="form-body">
                                                        <div class="form-group">
                                                            <label for="inputUsername" class="control-label">
                                                                Enter Random Passphrase to Create Wallet Address.
                                                            </label>
                                                            <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                    <i class="fa fa-fw fa-file-text-o"></i>
                                                                </span>
                                                                <input type="text" class="form-control" id="sentence"
                                                                       placeholder="eg.- The quick brown fox jumps over the lazy dog" name="sentence">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="uniquepassword" class="control-label">
                                                                Enter Password to Encrypt Your Private Key
                                                            </label>
                                                            <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                    <i class="fa fa-fw fa-key"></i>
                                                                </span>
                                                                <input type="password" name="secret_key"
                                                                       id="secret_key" class="form-control"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions text-right ">
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                        <button type="reset" class="btn btn-default bttn_reset">Reset
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            </div>
        </div>
    </div>
</div>
<!-- global js -->
<script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<!-- end of global js -->
<!-- begining of page level js -->
<script src="vendors/moment/js/moment.min.js"></script>
<script src="vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="vendors/select2/js/select2.js"></script>
<script src="vendors/iCheck/js/icheck.js"></script>
<script src="vendors/bootstrapvalidator/js/bootstrapValidator.min.js" type="text/javascript"></script>
<script src="vendors/toastr/js/toastr.min.js"></script>
<script src="js/custom_js/register2.js"></script>
<!-- end of page level js -->
</body>
</html>
<script type="text/javascript">
    $(function() {
        toastr.options = {
          "closeButton": true,
          "positionClass": "toast-top-right",
          "timeOut": "3000",
          "extendedTimeOut": "1000",
          "showMethod": "slideDown"
        };

        $("#create_truffle").off('submit');
        $("#create_truffle").on('submit', function(event) {
            event.preventDefault();

            var request = {
                    "sentence": $('#sentence').val(),
                    "secret_key": $('#secret_key').val(),
            };
            $.ajax({
                type: "POST",
                url:  "/api/create-truffle-acc",
                data:  request
            }).done(function(response) {
                toastr.clear();
                if(response.status == "success") {
                    toastr.success(response.message);
                    setTimeout(function() {window.location='/mywallet'}, 1000);
                }
            });
        });
    });
</script>
