
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard | DLT COIN </title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <%- include('config/favicon') %>
    <!-- global css -->
    <link type="text/css" rel="stylesheet" href="css/app.css"/>
    <!-- end of global css -->
    <!--page level css -->
    <link href="vendors/toastr/css/toastr.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="vendors/chartist/css/chartist.min.css">
    <link href="vendors/nvd3/css/nv.d3.min.css" rel="stylesheet" type="text/css">
    <link href="vendors/morrisjs/morris.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="vendors/awesomebootstrapcheckbox/css/awesome-bootstrap-checkbox.css">
    <link href="vendors/bower-jvectormap/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <link href="css/custom_css/dashboard1.css" rel="stylesheet" type="text/css"/>
    <!--end of page level css-->
</head>
<body class="skin-coreplus">
<%- include('config/preloader') %>
<!-- header logo: style can be found in header-->
<%- include('config/navbar') %>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <%- include('config/leftbar') %>
    <aside class="right-side">
    <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="index-header">
                <div class="inner-bg">
                    <div class="header-section">
                        <div class="row">
                            <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                                <h1>Welcome <span class="hidden-md">To Dashboard</span></h1>
                            </div>
                            <div class="col-md-8 col-lg-6">
                                <div class="row ">
                                    <div class="col-xs-4 col-sm-3 col-sm-offset-8">
                                        <h2>
                                            <strong>97.3k</strong>
                                            <br>
                                            <small>
                                                <i class="fa fa-thumbs-o-up"></i>
                                                Wallet
                                            </small>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--section ends-->
        <!-- /.content --> </aside>
    <!-- /.right-side --> </div>
<!-- ./wrapper -->
<!-- global js -->
<div id="qn"></div>
<script src="js/app.js" type="text/javascript"></script>
<!-- end of global js -->
<!-- begining of page level js -->
<script src="js/backstretch.js"></script>
<!--sales tiles-->
<script src="vendors/countupcircle/js/jquery.countupcircle.js" type="text/javascript"></script>
<script src="vendors/granim/js/granim.min.js" type="text/javascript"></script>
<!-- end of sales tiles -->
<!-- Flot tab2-->
<script src="vendors/flotchart/js/jquery.flot.js" type="text/javascript"></script>
<script src="vendors/flotchart/js/jquery.flot.resize.js" type="text/javascript"></script>
<script src="vendors/flotchart/js/jquery.flot.time.js" type="text/javascript"></script>
<script src="vendors/flotchart/js/jquery.flot.symbol.js" type="text/javascript"></script>
<script src="vendors/flotchart/js/jquery.flot.pie.js" type="text/javascript"></script>
<script src="vendors/flotchart/js/jquery.flot.stack.js" type="text/javascript"></script>
<script src="vendors/flot.tooltip/js/jquery.flot.tooltip.js" type="text/javascript"></script>
<script src="vendors/flotspline/js/jquery.flot.spline.min.js" type="text/javascript"></script>
<!-- end of flot tab2 -->
<script type="text/javascript" src="vendors/chartist/js/chartist.min.js"></script>
<!--morris donut-->
<script type="text/javascript" src="vendors/morrisjs/morris.min.js"></script>
<script type="text/javascript" src="vendors/d3/d3.min.js"></script>
<script type="text/javascript" src="vendors/nvd3/js/nv.d3.min.js"></script>
<script type="text/javascript" src="js/custom_js/stream_layers.js"></script>
<!--maps-->
<script src="vendors/bower-jvectormap/js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="vendors/bower-jvectormap/js/jquery-jvectormap-world-mill-en.js"></script>
<!-- end of maps -->
<script src="js/dashboard1.js" type="text/javascript"></script>
<!-- end of page level js -->

</body>
</html>