<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Profile | DLT COIN </title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    
    <!-- global css -->
    <link type="text/css" href="css/app.css" rel="stylesheet"/>
    <!-- end of global css -->
    <!--page level css -->
    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <link rel="stylesheet" type="text/css" href="vendors/simple-line-icons/css/simple-line-icons.css">
    <link href="vendors/toastr/css/toastr.min.css" rel="stylesheet"/>
    <link href="css/custom_css/user_profile.css" type="text/css" rel="stylesheet">
    <!--end of page level css-->
</head>

<body class="skin-coreplus">
<%- include('config/preloader') %>
<!-- header logo: style can be found in header-->
<%- include('config/navbar') %>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <%- include('config/leftbar') %>
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Profile
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/myhome">
                        <i class="fa fa-fw fa-home"></i> Dashboard
                    </a>
                </li>
                <li class="active">
                    Edit Profile
                </li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="text-center mbl">
                                        <img src="img/authors/<%- user.profile -%>" alt="img" class="img-circle img-bor"/>
                                    <form method="post" id="profile-image" enctype="multipart/from-data">
                                        <input type="hidden" name="token" value="<%- user.token-%>">
                                        <label for="file-upload" class="custom-file-upload">
                                            <i class="fa fa-cloud-upload"></i> Upload Pic
                                        </label>
                                        <input type="file" id="file-upload" style="display:none;" name="profilePic" onchange="$(this).parents('form:eq(0)').submit();">
                                    </form>
                                    </div>
                                </div>
                                <div class="profile_user">
                                    <h3 class="user_name_max"><%- user.user_name %></h3>
                                    <p><%- user.email %></p>
                                </div>
                                <br/>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <form method="post" id="edit-profile">
                                    <!-- Token -->
                                    <input type="hidden" id="token" value="<%- user.token-%>">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs nav-custom">
                                                <li class="active">
                                                    <a href="#edit-profile" data-toggle="tab">
                                                        <strong>Edit Profile</strong>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content nopadding noborder">
                                                <div class="tab-pane fade in active" id="edit-profile">
                                                    <div class="row">
                                                        <div class="col-md-12 col-lg-12 col-sm-12 bord">
                                                            <div class="row  form-group">
                                                                <div class="col-md-1">
                                                                    <i class="fa fa-user"></i>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    Name:
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="text" id="user_name" class="form-control" value="<%- user.user_name -%>" placeholder="Full Name">
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                 <div class="col-md-1">
                                                                    <i class="fa fa-key"></i>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    Current Password:
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="password" id="pre_password" class="form-control" placeholder="Current Password">
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                 <div class="col-md-1">
                                                                    <i class="fa fa-key"></i>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    New Password:
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="password" id="new_password" class="form-control" placeholder="New Password">
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col-md-7">
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <button type="submit" class="form-control btn btn-success"> Update &nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- tab-pane -->
                                            </div>
                                            <!-- tab-content -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </section>
    </aside>
</div>
<!--wrapper ends-->
<!-- global js -->
<script src="js/app.js" type="text/javascript"></script>
<script src="vendors/toastr/js/toastr.min.js"></script>
<!-- end of global js -->
</body>
</html>
<script type="text/javascript">
    $(function() {
        toastr.options = {
          "closeButton": true,
          "positionClass": "toast-top-right",
          "timeOut": "3000",
          "extendedTimeOut": "1000",
          "showMethod": "slideDown"
        };

        $("#edit-profile").off('submit');
        $("#edit-profile").on('submit', function(event) {
            event.preventDefault();

            var request = {
                    "token"    :$('#token').val(),
                    "user_name":$('#user_name').val(),
                    "pre_pass" :$('#pre_password').val(),
                    "new_pass" :$('#new_password').val(),
            };
            $.ajax({
                type: "POST",
                url : "/api/editProfile",
                data: request
            }).done(function(response) {
                toastr.clear();
                if(response.status == "success")
                {
                    toastr.success(response.message);
                    setTimeout(function() { window.location = '/profile'}, 1000);
                } else {
                    toastr.error(response.message);
                }
            })
        });

        $("#profile-image").off('submit');
        $("#profile-image").on('submit', function(event) {
            event.preventDefault();
            
            $.ajax({ type : 'post', 
                     url : '/api/editPic', 
                     processData: false, 
                     contentType: false, 
                     data : new FormData($(this).get(0)) 
                 }).done(function(response) {
                toastr.clear();
                if(response.status == "success") {
                    toastr.success(response.message);
                    setTimeout(function() { window.location = '/editProfile'}, 500);
                } else {
                    toastr.error(response.message);
                }
            });
        });
    });
</script>