<!DOCTYPE html>
<html>
<head>
   <title>Login | DLT COIN </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.ico" />
	<!-- Bootstrap -->
	<!-- global css -->
	<link href="css/app.css" rel="stylesheet">
	<!-- end of global css -->
	<!--page level css -->
	<link rel="stylesheet" href="vendors/iCheck/css/all.css"/>
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<link href="vendors/toastr/css/toastr.min.css" rel="stylesheet"/>
	<link href="css/login2.css" rel="stylesheet">
	<!--end page level css-->
</head>

<body class="bg-slider">
<%- include('config/preloader') %>

<div class="container">
	<div class="row " id="form-login">
		<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 login-content">
			<div class="row">
				<div class="col-md-12">
					<div class="header">
						<h2 class="text-center">
							Login
							<small> with</small>
							DLT Labs ICO Platform (Test)
						</h2>
					</div>
				</div>
			</div>
			<div class="row row-bg-color">
				<div class="col-md-4">
					<div class="social-buttons">
						<img src="img/user_login.png" class="img-responsive swignin-up" alt="user login" />
					</div>
				</div>
				<div class="col-md-8 core-login">
					<form class="form-horizontal" method="POST" action=""  id="authentication">
						<!-- CSRF Token -->
						<input type="hidden" name="_csrf" value="{csrfToken}"/>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group ">
									<label class="control-label" for="email">EMAIL</label>
									<div class="input-group">
										<input type="text" placeholder="Email Address" class="form-control"
											   name="email" id="email" value=""/>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group ">
									<label class="control-label" for="password">PASSWORD</label>
									<div class="input-group">
										<input type="password" placeholder="Password" class="form-control"
											   name="password" id="password"/>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
								<input type="checkbox" name="remember" id="remember"> &nbsp;
							<label for="remember"> Remember Me </label>
							<a href="" id="forgot" class="text-primary forgot1 pull-right"> Forgot Password? </a>
							<!-- <a href="forgot_password.html" id="forgot" class="text-primary forgot1 pull-right"> Forgot Password? </a> -->
						</div>
						<div class="form-group ">
							<input type="submit" value="Login" class="btn btn-primary login-btn"/>
							<br>
							<hr>
							<span> New to Dlt Coin?<a href="register"> Sign Up</a></span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- global js -->
<script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/backstretch.js"></script>
<!-- end of global js -->
<!-- page level js -->
<script type="text/javascript" src="vendors/iCheck/js/icheck.js"></script>
<script src="vendors/bootstrapvalidator/js/bootstrapValidator.min.js" type="text/javascript"></script>
<script src="vendors/toastr/js/toastr.min.js"></script>
<script src="js/custom_js/common.js"></script>
<script type="text/javascript" src="js/custom_js/login.js"></script>
<!-- end of page level js -->
</body>
</html>
<script type="text/javascript">

	$(function() {
		toastr.options = {
		  "closeButton": true,
		  "positionClass": "toast-top-right",
		  "timeOut": "3000",
		  "extendedTimeOut": "1000",
		  "showMethod": "slideDown"
		};
	})

	function getUrlVars() {
		var vars = {};
		var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
			vars[key] = value;
		});
		return vars;
	}
	var status = getUrlVars()["status"];
	if(status == 'success')
	{
		toastr.success("Your account has been successfully verified against AML and KYC compliance.(For demo purpose. Indicative only)");
	}

	$(function() {
		User.login();
	})


	var User = {};
	User.login = function() {
		$("#authentication").off('submit');
		$("#authentication").on('submit', function(event) {
			event.preventDefault();
			var request = {
					"email"     : $('#email').val(),
					"password"  : $('#password').val(),
			};
			if(User.validateUser()) {
				$.ajax({
					type:"post",
					url: "/api/login",
					data: request
				}).done(function (response) {
						toastr.clear();
						if(response.status == "success") {
							toastr.success(response.message);
							if(response.data) {
								setTimeout(function() {window.location = '/mywallet'}, 1000);
							} else {
								setTimeout(function() {window.location = '/createwallet'}, 1000);
							}
						} else if (response.status == "unsuccess") {
							toastr.warning(response.message);
						} else {
							toastr.error(response.message);
						}
				});
			}
		});
	}

	User.validateUser = function() {
		var email       = $('#email').val();
		var password    = $('#password').val();

		var check = true;

		unsetError($('#email'));
		unsetError($('#password'));

		if(email == '') {
			setError($('#email'), 'The Email address is required')
			check = false;
		} else if((/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/).test(email)) {

		} else {
			setError($('#email'), 'Please enter valid Email address')
		}
		if(password == '') {
			setError($('#password'), 'The Password is required');
			check = false;
		}
		return check;
	}
</script>
