<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Wallet | DLT COIN </title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <%- include('config/favicon') %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- global css -->
    <link type="text/css" href="css/app.css" rel="stylesheet"/>
    <!-- end of global css -->
    <!--page level css -->
    <link rel="stylesheet" type="text/css" href="vendors/datatables/css/dataTables.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <link rel="stylesheet" type="text/css" href="css/custom_css/datatables_custom.css">
    <!--end of page level css-->
</head>

<body class="skin-coreplus">
<%- include('config/preloader') %>

<!-- header logo: style can be found in header-->
<%- include('config/navbar') %>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <%- include('config/leftbar') %>
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Wallet
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="myhome">
                        <i class="fa fa-fw fa-home"></i> Dashboard
                    </a>
                </li>
                <li class="active">
                    My Wallet
                </li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-8">
                        <label>Wallet Address</label>
                         <label class="btn-primary form-control"> &nbsp;&nbsp;<i class="fa fa-money" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%- address %></label>
                    </div>
                    <div class="col-md-4">
                        <label>Ether</label>
                         <label class="btn-primary form-control"> &nbsp;&nbsp;<i class="fa fa-money" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%- wallet_amount/1000000000000000000 %></label>
                    </div>
                    <!-- <div class="col-md-1"></div> -->
                </div>

                <div class="col-lg-12 text-center">
                  <a href="https://faucet.rinkeby.io/" target="_blank">
                      <i class="fa fa-fw fa-home"></i> Click here to get test ether
                  </a>
                </div>
            </div>
        </section>
        <hr>
        <section class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-fw fa-table"></i> Transactions Hisory
                            </h3>
                            <span class="pull-right">
                                    <i class="fa fa-fw fa-chevron-up clickable"></i>
                                    <i class="fa fa-fw fa-times removepanel clickable"></i>
                                </span>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="sample_1">
                                    <thead>
                                      <tr>
                                          <th>
                                              Beneficiery Name
                                          </th>
                                          <th>
                                              Transfer Status
                                          </th>
                                          <th>
                                              Debit
                                          </th>
                                          <th>
                                              Credit
                                          </th>
                                          <th>
                                              Remarks
                                          </th>
                                          <th>
                                              Date
                                          </th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                        <% for (i = 0; i < transactions.length; i++) { %>
                                        <tr>
                                          <td><%- transactions[i].receiver_name %></td>
                                          <td><span class="label label-sm label-success">Success</span></td>
                                          <% if (transactions[i].type == 1) {  %>
                                              <td><%- transactions[i].ethers %></td>
                                              <td></td>
                                          <% } else {  %>
                                              <td></td>
                                              <td><%- transactions[i].ethers %></td>
                                          <% } %>
                                          <td><%- transactions[i].remarks %></td>
                                          <td><%- transactions[i].datetime %></td>
                                        </tr>
                                          <% } %>
                                     </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- First Basic Table Ends Here-->
        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->
<!-- global js -->
<script src="js/app.js" type="text/javascript"></script>
<!-- end of global js -->
<!-- begining of page level js -->
<script type="text/javascript" src="vendors/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="vendors/datatables/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="js/custom_js/datatables_custom.js"></script>
<!-- end of page level js -->
<script>
    $(function() {
        $('[href="mywallet"]').parent().addClass('active')
    })
</script>

</body>
</html>
