<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>View Profile | DLT COIN </title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    
    <!-- global css -->
    <link type="text/css" href="css/app.css" rel="stylesheet"/>
    <!-- end of global css -->
    <!--page level css -->
    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <link rel="stylesheet" type="text/css" href="vendors/simple-line-icons/css/simple-line-icons.css">
    <link href="css/custom_css/user_profile.css" type="text/css" rel="stylesheet">
    <!--end of page level css-->
</head>

<body class="skin-coreplus">
<%- include('config/preloader') %>
<!-- header logo: style can be found in header-->
<%- include('config/navbar') %>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <%- include('config/leftbar') %>
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Profile
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/myhome">
                        <i class="fa fa-fw fa-home"></i> Dashboard
                    </a>
                </li>
                <li class="active">
                    View Profile
                </li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="text-center mbl">
                                        <img src="img/authors/<%- user.profile -%>" alt="img" class="img-circle img-bor"/>
                                    </div>
                                </div>
                                <div class="profile_user">
                                    <h3 class="user_name_max"><%- user.user_name %></h3>
                                    <p><%- user.email %></p>
                                </div>
                                <br/>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs nav-custom">
                                            <li class="active">
                                                <a href="#Info" data-toggle="tab">
                                                    <strong>Account Info</strong>
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content nopadding noborder">
                                            <div id="Info" class="tab-pane fade in active">
                                                <div class="table-responsive">
                                                    <table class="table table-responsive">
                                                        <tbody>
                                                        <tr>
                                                            <td class="text-center">
                                                                <i class="fa fa-user"></i>
                                                            </td>
                                                            <td>
                                                                Name
                                                            </td>
                                                            <td>
                                                                <%- user.user_name %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">
                                                                <i class="fa fa-envelope"></i>
                                                            </td>
                                                            <td>
                                                                Email
                                                            </td>
                                                            <td>
                                                                <%- user.email %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">
                                                                <i class="fa fa-unlock-alt"></i>
                                                            </td>
                                                            <td>
                                                                Wallet Address
                                                            </td>
                                                            <td>
                                                                <%- user.truffle_addr %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td>
                                                                <a href="/editProfile"><button type="button" class="pull-right btn btn-warning">
                                                                    Update Profile&nbsp;&nbsp;&nbsp;  <i class="fa fa-wrench"></i>
                                                                </button></a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- tab-pane -->
                                        </div>
                                        <!-- tab-content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </section>
    </aside>
</div>
<!--wrapper ends-->
<!-- global js -->
<script src="js/app.js" type="text/javascript"></script>
<!-- end of global js -->
</body>
</html>