<!DOCTYPE html>
<html>
<head>
	<title>Register | DLT COINS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.ico" />
	<!-- global css -->
	<link href="css/app.css" rel="stylesheet">
	<!-- end of global css -->
	<!--page level css -->
	<link rel="stylesheet" href="vendors/iCheck/css/all.css"/>
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<link href="css/register2.css" rel="stylesheet">
	<link href="vendors/toastr/css/toastr.min.css" rel="stylesheet"/>
	<!-- <link rel="stylesheet" type="text/css" href="css/custom_css/toastr_notificatons.css"> -->
	<!--end of page level css-->
</head>

<body class="bg-slider">
<%- include('config/preloader') %>

<div class="container">
	<div class="row " id="form-login">

		<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 register-content">
			<div class="row">
				<div class="col-md-12">
					<div class="header">
						<h2 class="text-center">
							Sign Up
							<small> with</small>
							DLT Labs ICO Platform (Test)
							<!-- <img src="img/pages/logo.png" alt="logo"> -->
						</h2>
					</div>
				</div>
			</div>
			<div class="row row-bg-color">
				<div class="col-md-4">
					<div class="social-buttons">
						<img src="img/user_register.png" class="img-responsive signin-up" alt="user registration" />
					</div>
				</div>
				<div class="col-md-8 core-register">
					<form class="form-horizontal register_form" method="POST" action="" id="register_form" name="register_form">
						<!-- CSRF Token -->
						<input type="hidden" name="_csrf" value="{csrfToken}"/>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label class="control-label" for="user_name">FULL NAME</label>
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Full Name" name="user_name" id="user_name" value=""/>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group ">
									<label class="control-label" for="email">EMAIL</label>
									<div class="input-group">
										<input type="text" placeholder="Email Address" class="form-control" name="email" id="email" value=""/>
									</div>
								</div>
							</div>
						</div>
						<div class="row password">
							<div class="col-sm-6">
								<div class="form-group ">
									<label class="control-label" for="password">PASSWORD</label>
									<div class="input-group">
										<input type="password" placeholder="Password" class="form-control" name="password" id="password"/>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group cp-group">
									<label class="control-label confirm_pwd" for="password_confirm">CONFIRM PASSWORD</label>
									<div class="input-group pull-right">
										<input type="password" placeholder="Confirm Password" class="form-control" name="password_confirm" id="password_confirm"/>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
								<label class="checkbox-inline sr-only" for="terms">Agree to terms and conditions</label>
								<input type="checkbox"  name="terms" id="terms"/>&nbsp;
								<label for="terms"> I agree to <a href=""> Terms and Conditions</a>.</label>
						</div>
						<div class="form-group ">
								<button type="submit" class="btn btn-primary">Sign Up</button>
								<input type="reset" class="btn btn-default" value="Reset" id="dee1"/><br>
								<hr>
								<span> Already Have an account? <a href="login">Login</a></span>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- global js -->
<script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<!-- end of global js -->
<!-- begining of page level js -->
<script src="vendors/iCheck/js/icheck.js"></script>
<script src="vendors/bootstrapvalidator/js/bootstrapValidator.min.js" type="text/javascript"></script>
<script src="js/backstretch.js"></script>
<script src="js/custom_js/register.js"></script>
<script src="js/custom_js/common.js"></script>
<script src="vendors/toastr/js/toastr.min.js"></script>
<!-- <script type="text/javascript" src="js/custom_js/toastr_notifications.js"></script> -->
<!-- end of page level js -->
</body>
</html>
<script type="text/javascript">
	$(function() {
		User.register();
	})

	$(function() {
		toastr.options = {
		  "closeButton": true,
          "positionClass": "toast-top-right",
          "timeOut": "3000",
          "extendedTimeOut": "1000",
          "showMethod": "slideDown"
		};
	})

	var User = {};
	User.register = function() {
		$("#register_form").off('submit');
		$("#register_form").on('submit', function(event) {
			event.preventDefault();
			var request = {
				"user_name" : $('#user_name').val(),
				"email" : $('#email').val(),
				"password" : $('#password').val(),
			};
			if (User.validateUser()) {
				$.ajax({
					type:"post",
					url : "/api/register",
					data: request
				}).done(function(response) {
					if (response.status == "success") {
						toastr.success(response.message);
						setTimeout(function() {window.location = '/login'}, 1000);
					} else {
						toastr.error(response.message)
					}
				});
			}
		});

	}

	User.validateUser = function() {
		var name 		= $('#user_name').val();
		var	email 		= $('#email').val();
		var	password 	= $('#password').val();
		var	c_password	= $('#password_confirm').val();

		var check = true;

		unsetError($('#user_name'));
		unsetError($('#email'));
		unsetError($('#password'));
		unsetError($('#password_confirm'));
		unsetError($('#terms'));

		if (!$("#terms").prop('checked')) {
			setError($('#terms'), 'The terms and conditions should be accepted');
			check = false;
		}
		if (c_password == '') {
			setError($('#password_confirm'), 'The confirm password is required');
			check = false;
		}
		if (password == '') {
			setError($('#password'), 'Please provide a password');
			check = false;
		}
		if(password != '' && c_password != '') {
			if(password != c_password) {
				setError($('#password_confirm'), 'Please enter the same password');
				check = false;
			} else if(password.length < 8)
			{
				setError($('#password'), 'Password length should be more than 8 charactor');
				check = false;
			}
		}
		if (email == '') {
			setError($('#email'), 'The email address is required');
			check = false;
		} else if ((/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/).test(email)) {

		} else {
			setError($('#email'), 'Please enter valid email address');
			check = false;
		}
		if (name == '') {
			setError($('#user_name'), 'The name is required');
			check = false;
		}

		return check;
	}
</script>
