<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Transfer Ethers | DLT COIN </title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <%- include('config/favicon') %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- global css -->
    <link type="text/css" href="css/app.css" rel="stylesheet"/>
    <!-- end of global css -->
    <!--page level css -->
    <link rel="stylesheet" type="text/css" href="vendors/datatables/css/dataTables.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <link rel="stylesheet" type="text/css" href="css/custom_css/datatables_custom.css">
    <link href="vendors/toastr/css/toastr.min.css" rel="stylesheet"/>
    <!--end of page level css-->
</head>

<body class="skin-coreplus">
<%- include('config/preloader') %>

<!-- header logo: style can be found in header-->
<%- include('config/navbar') %>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <%- include('config/leftbar') %>
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Transfer
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="myhome">
                        <i class="fa fa-fw fa-home"></i> Dashboard
                    </a>
                </li>
                <li class="active">
                    Ethers Transfer
                </li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Address:</label>
                            <input type="text" class="form-control" name="address" id="address" placeholder="Address">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Ether:</label>
                            <input type="text" class="form-control" name="ethers" id="ethers" placeholder="Ether">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>&nbsp;</label>
                        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info pull-right form-control"> Transfer Ether <i class="menu-icon fa fa-fw fa-exchange"></i></button>
                    </div>
                    <div class="col-md-1"></div>
                    <!-- <div class="col-md-2"  style="border-left: solid 2px #1baa7d; border-right: solid 2px #1baa7d; ">
                        <div class="form-group">
                            <label>Transfered Token</label>
                            <label class="btn-primary form-control"> &nbsp;&nbsp;<i class="fa fa-text-width" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;200</label>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <hr>
        <section class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-fw fa-table"></i> Transfer History
                            </h3>
                            <span class="pull-right">
                                    <i class="fa fa-fw fa-chevron-up clickable"></i>
                                    <i class="fa fa-fw fa-times removepanel clickable"></i>
                                </span>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="sample_1">
                                    <thead>
                                    <tr>
                                        <th>
                                            Beneficiery Name
                                        </th>
                                        <th>
                                            ethers
                                        </th>
                                        <th>
                                            Transfer status
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      <% if (transfer) { %>
                                        <% for (i = 0; i < transfer.length; i++) { %>
                                          <tr>
                                            <td><%- transfer[i].receiver_name %></td>
                                            <td><%- transfer[i].ethers %></td>
                                            <td>Done</td>
                                            <td><%- transfer[i].datetime %></td>
                                          </tr>
                                        <% } %>
                                      <% } else { %>
                                        <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                      <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- First Basic Table Ends Here-->
        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>

<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Authorize Transaction</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-body">
                <div class="form-group">
                    <label for="ciphertext" class="control-label">
                        Encrypted Key
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-file-text-o"></i></span>
                        <input type="text" class="form-control" placeholder="Encrypted Key" name="encrypted_key" id="encrypted_key">
                    </div>
                </div>
                <div class="form-group">
                    <label for="secretkey" class="control-label">
                        Secret Pin
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span>
                        <input type="password" name="secret_key" placeholder="Secret Pin" id="secret_key" class="form-control"/>
                    </div>
                </div>
            </div>
            <a href="#" class="btn btn-primary" id="transfer_ethers">Transfer Ethers</a>
      </div>
    </div>
  </div>
</div>
<!-- ./wrapper -->
<!-- global js -->
<script src="js/app.js" type="text/javascript"></script>
<!-- end of global js -->
<!-- begining of page level js -->
<script type="text/javascript" src="vendors/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="vendors/datatables/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="js/custom_js/datatables_custom.js"></script>
<script type="text/javascript" src="vendors/toastr/js/toastr.min.js"></script>
<!-- end of page level js -->

<script>
$(document).ready(function(){

  toastr.options = {
    "closeButton": true,
    "positionClass": "toast-top-right",
    "timeOut": "3000",
    "extendedTimeOut": "1000",
    "showMethod": "slideDown"
  };

  $("#transfer_ethers").on("click",function(){

    var ethers = $("#ethers").val();
    var address = $("#address").val();
    var encrypted_key = $("#encrypted_key").val();
    var secret_key = $("#secret_key").val();
    $.ajax({
      'type' : 'POST',
      'url' : '/transferEther',
      'data' : {ethers:ethers,address:address,encrypted_key:encrypted_key,secret_key:secret_key}
    })
    .done(function(response){
      if(response.status == 1)
      {
        toastr.success("Ether transfer successful");
        window.location.reload();
      }
      else if(response.status == 2)
        toastr.error("Address not found. Kindly check the address to transfer ethers.");
    });

  });
  $('[href="transferEther"]').parent().addClass('active')

});
</script>
</body>
</html>
